html 
    body 
        -data = data || {}
        -console.log(data)
        div 
            h1 #{data.title}
            h2 Hello #{data.name}

        div 
            h3 I want to start coding now KIPKORIR GIDEON
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias atque quae culpa, impedit nesciunt ea eaque delectus quo minima iste.
        div  
            h3 I LOVE TO BE A DEVOPS ENGINEER in this
            h3 Mongo db

            h3 Master branch Kipkorir

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, saepe?
            a Visit the link
